{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:react-native/all", "plugin:flowtype/recommended"],
  "plugins": [
    "react",
    "react-native",
    "jsx-a11y",
    "import",
    "flowtype",
  ],
  "env": {
    "react-native/react-native": true,
    "jest": true,
  },
  "rules": {
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "no-use-before-define": [2, { "variables": false, "functions": false }],
    "no-console": [0],
    "import/no-extraneous-dependencies": [2, {"devDependencies": true}],
    "react/sort-comp": [1, {
      order: [
        "type-annotations",
        "static-methods",
        "lifecycle",
        "everything-else",
        "render",
      ],
    }],
    "no-useless-computed-key": [0],
    "quote-props": [0],
  },
}
